* {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

div.background {
    background-image: url("exe4images/texture.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    margin: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #3E54AC;
    align-items: center;
}

.logo {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    opacity: 1;
    filter: brightness(0) invert(1);
}

.social-media {
    display: flex;
    align-items: center;
    margin-right: 10px;
    opacity: 100;
}

.app-icon {
    margin-left: 10px;
    margin-right: 10px;
    opacity: 100;
}

img.profilepic {
    border-radius: 50%;
    align-items: center;
}

div.profile {
    margin: 40px;
    align-items: center;
    text-align: center;
}

div.profilepic {
    margin-bottom: 15px;
}

div.name {
    margin-bottom: 15px;
}

div.course {
    margin-bottom: 35px;
}

div.selfintro {
    margin-bottom: 10px;
    padding-left: 80px;
    padding-right: 80px;
}

.row1 {
    display: flex;
    gap: 15px;
}

.row2 {
    margin-top: 15px;
    display: flex;
    gap: 15px;
}

div.exe-list {
    margin: 25px;
}

div.week2-title {
    display: flex;
    flex: 1;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-bottom: 5px;

}

div.week3-title {
    display: flex;
    flex: 1;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-bottom: 5px;

}

div.week4-title {
    display: flex;
    flex: 1;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-bottom: 5px;
}

div.week5-title {
    display: flex;
    flex: 1;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-bottom: 5px;
}

div.week6-title {
    display: flex;
    flex: 1;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-bottom: 5px;
}

.mark {
    margin: 4px;
    padding: 4px;
    align-items: center;
    text-align: center;
}

.blank {
    margin: 4px;
    padding-left: 23px;
    padding-bottom: 27px;
    align-items: center;
    text-align: center;
}

div.week2 {
    flex: 1;
    border-radius: 8px;
    background-color: #ECF2FF;
    padding: 20px;
    text-align: center;
    opacity: 0.8;

}

div.week3 {
    flex: 1;
    border-radius: 8px;
    background-color: #ECF2FF;
    padding: 20px;
    text-align: center;
    opacity: 0.8;
}

div.week4 {
    flex: 1;
    border-radius: 8px;
    background-color: #ECF2FF;
    padding: 20px;
    text-align: center;
    opacity: 0.8;
}

div.week5 {
    flex: 1;
    border-radius: 8px;
    background-color: #ECF2FF;
    padding: 20px;
    text-align: center;
    opacity: 0.8;

}

div.week6 {
    flex: 1;
    border-radius: 8px;
    background-color: #ECF2FF;
    padding: 20px;
    text-align: center;
    opacity: 0.8;
}

hr {
    border-top: 1px solid #1a2369;
}


.column {
    flex: 3;
    justify-content: space-between;
    text-align: center;
    align-items: center;

}

.exe-content {
    padding: 4px;
}

a.exe {
    color: #1a2369;
    text-decoration: none;
}

a.exe:hover {
    color: #655DBB;
    text-decoration: none;
}


.footer {
    background-color: #3E54AC;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

div.social-media-footer {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: 4px;
}

p.copyright {
    color: #ECF2FF;

}

p.title {
    color: #1a2369;
    font-weight: bold;
    font-size: x-large;
}

h1 {
    color: #1a2369;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;

}

h2 {
    color: #1a2369;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

p.selfintro {
    color: #1a2369;
    font-size: larger;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

p.sub {
    font-size: larger;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

@media screen and (max-width: 600px) {
    .porfolio {
        flex-direction: column;
    }
}