* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Roboto;
    src: url(Roboto/Roboto-Medium.ttf);
}

#nav {
    display: flex;
}

a {
    color: #20184c;
    text-decoration: none;
}

a:hover {
    color: #a044fc;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
    border: 10px solid #f9f9f9;
    font-family: 'Roboto';
    align-items: center;
}

div.image {
    margin-left: 0px;
    align-items: center;
}

div {
    margin-left: 25px;
}

button {
    background-color: #a044fc;
    color: white;
    border: 0px;
    border-radius: 30px;
    padding: 14px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Roboto';
}