header {
    display: flex;
    justify-content: space-between;
    background-color: #fff4dc;
    border: 15px solid #fff4dc;
    font-family: 'Roboto';
    align-items: center;
}

.left {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

#nav {
    display: flex;
    margin-left: 20px;
}

.nav-content {
    margin-right: 20px;
}

a {
    color: #1c1414;
    text-decoration: none;
}

a:hover {
    color: #9c6b00;
    text-decoration: none;
    text-underline-offset: 10px;
}

.right {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.order {
    background-color: #1c1414;
    color: #fff4dc;
    padding: 14px;
    padding-left: 28px;
    padding-right: 28px;
    border: none;
}

.account {
    margin-right: 20px;
}

div {
    margin-left: 5px;
    margin-right: 5px;
}